<html>
    
<form method=post>
<input type=text placeholder="username" name=username><br>

<input type=text placeholder="password" name=username><br>

<input type=submit value="create"><br>
</form>


</html>